.history {
  width: inherit;
  height: 383px;
  padding: 23px 37px 0 30px;
  position: relative;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.dragBtn {
  width: 48px;
  height: 2.15px;
  background-color: #c4c4c4;
  position: relative;
  left: 132px;
  bottom: 20.55px;
}
.plan {
  box-sizing: border-box;
  margin: auto;
  width: 308px;
  height: 57px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.plan::-webkit-scrollbar {
  display: none;
}

.plan > ul {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.plan > ul > li {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 5px;
  width: 162px;
  height: 47px;
  margin-right: 13px;
  font-size: 12px;
  line-height: 17.76px;
  font-weight: 500;
  color: #fff;
  text-align: left;
  padding: 5px 0 7px 13px;
}

.plan > ul > li:first-child {
  background: linear-gradient(to right, #ff5f00 60%, #dadada 40%);
}

.plan > ul > li:nth-child(2) {
  background: linear-gradient(to right, #feb700 75%, #dadada 25%);
}

.plan > ul > li:last-child > img {
  width: 22.5px;
  height: 22.5px;
}

.plan > ul > li:last-child > span {
  color: #ff5f00;
  width: 69px;
  height: 18px;
  font-size: 12px;
  font-weight: 500;
  line-height: 17.76px;
  text-align: right;
  position: relative;
  top: -7px;
  left: 2px;
}

.onDay {
  height: 318px;
  margin-top: 7px;
  overflow: auto;
  overflow-x: hidden;
}

.onDay::-webkit-scrollbar {
  display: none;
}

.day {
  display: flex;
  justify-content: space-between;
}

.list {
  width: 302px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list > li {
  margin-top: 38px;
}
.when {
  width: 126px;
  height: 21px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20.72px;
  text-align: left;
  color: #000;
}

.sum {
  height: 21px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.72px;
  text-align: right;
  color: #b4b4b4;
}

.list > li:not(:first-of-type) {
  width: 302px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 7px;
  color: #444444;
  font-size: 18px;
  line-height: 26.64px;
}
