.money > div > span:first-child {
  width: 99px;
  height: 27px;
  line-height: 26.64px;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 78px 0 29px;
  color: #444444;
}

.money > div > span:last-child {
  width: 131px;
  height: 36px;
  line-height: 35.52px;
  font-size: 24px;
  font-weight: 500;
  color: #ff5f00;
}

.money > div > input {
  width: 308px;
  height: 9.18px;
  margin: 23px 0 0 29px;
  overflow: hidden;
  -webkit-appearance: none;
  background: #c4c4c4;
  border-radius: 7px;
  cursor: pointer;
}
.money > div > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #ff5f00;
  cursor: pointer;
  height: 17px;
  width: 4px;
  border-radius: 3px;
  box-shadow: -100vw 0 0 100vw #ffdb4c;
  border: 0.1px solid #ffdb4c;
  cursor: pointer;
}
